<header>
  <div class="row">
    <a href="/about" id="nav-me" class="nav-link">
      <img src="/assets/img/me.jpg" alt="About me"/>
    </a>
    <h1 id="title-name" class="u-pull-left"><a href="/">Hilal Alsibai</a></h1>
    <nav id="title-nav" class="u-pull-right">
      {% for profile in site.profiles %}
      <a href="{{ profile.url }}" class="nav-link">
        {% include {{ profile.icon | prepend: 'svg/' | append: '.svg' }} %}
      </a>
      {% endfor %}
    </nav>
  </div>
  <hr/>
</header>