<header>
  <div class="row">
    <h1 id="title-name" class="u-pull-left"><a href="/">Hilal Alsibai</a></h1>
    <nav id="title-nav" class="u-pull-right">
      <a href="https://github.com/xiphirx" class="nav-link">
        <object type="image/svg+xml" data="/assets/svg/github-icon.svg" class="nav-icon">
          GitHub
        </object>
      </a>
      <a href="https://www.linkedin.com/in/xiphirx" class="nav-link">
        <object type="image/svg+xml" data="/assets/svg/linkedin-icon.svg" class="nav-icon">
          LinkedIn
        </object>
      </a>
    </nav>
  </div>
  <hr/>
</header>