{% assign post = page %}
{% assign category = site.my_categories | where: "slug", post.category %}
{% assign category = category[0] %}
{% if category %}
    {% capture category_content %}Posted in <a class="label" href="{{ category.url }}" style="color:{{ category.color }}">{{ category.name }}</a>{% endcapture %}
{% endif %}
{% if post.tags.size > 0 %}
    {% capture tags_content %}{% if post.tags.size == 1 %}with tag{% else %}with tags{% endif %}: {% endcapture %}
    {% for post_tag in post.tags %}
      {% assign tag = site.my_tags | where: "slug", post_tag %}
      {% if tag %}
        {% assign tag = tag[0] %}
        {% capture tags_content_temp %}{{ tags_content }}<a href="{{ tag.url }}">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
        {% assign tags_content = tags_content_temp %}
      {% endif %}
    {% endfor %}
{% endif %}
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="container" id="main-wrapper">
      {% include header.html %}
      <h4><a href="{{ page.url }}">{{ page.title }}</a></h4>
      <div class="content">
        <span class="metadata">
          {{ page.date | date: "%B %-d, %Y" }} 
          -
          {{ category_content }} {{ tags_content }}
        </span>
        <hr />
        {{ content }}
      </div>
    </div>
  </body>
</html>
